/* Fonte
------------------- */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");


/* Formatações container
--------------------------- */

html, body{
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background: url('images/pattern-background-desktop.svg') no-repeat, hsl(225, 100%, 94%);
    background-position: top;
    display: flex;
    align-items: center;
}

.container{
    background: white;
    border-radius: 15px;
    margin: 0 auto;
    height: 600px;
    width: 400px;
    text-align: center;
}

.imagem{
    border-radius: 15px 15px 0px 0px;
    background: url('images/illustration-hero.svg');
    background-size: cover;
    height: 175px;
}

.conteudo{
    margin: 35px 25px 30px 25px;
}

p{
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.plan{
    border-radius: 7px;
    background: hsl(225, 100%, 98%);
    margin: 0px 35px 30px 35px;
    display: flex;
    align-items: center;
    height: 80px;
}

.plan img{
    margin-left: 15px;
}

.year-plan{
    padding-left: 15px;
    padding-right: 80px;
}

.plan a{
    font-size: 14px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.plan a:hover{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

span{
    color: hsl(224, 23%, 55%);
}

h4{
    margin: 1px;
}

button{
    border: transparent;
    border-radius: 10px;
    width: 330px;
    height: 45px;
    cursor: pointer;
}

.btn1{
    background: hsl(245, 75%, 52%); 
    color: white;
    font-weight: 700;
    box-shadow: 0px 13px 12px rgba(0, 0, 0, 0.3);
}

.btn2{
    background: transparent; 
    border: transparent; 
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    margin-top: 15px;
}

.btn1:hover{
    background: hsla(245, 75%, 52%, 0.7);
}

.btn2:hover{
    color: hsl(223, 47%, 23%);
}

