/* Font
------------------ */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Rubik:wght@300;400;600;700&display=swap');

/* Container
------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background: url('images/bg-pattern-desktop.svg') no-repeat;
    display: flex;
    background-size: 65%;
    overflow-x: hidden;
}

#container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#content{
    width: 100%;
}

.logo{
    margin: 50px 0px 0px 130px;
}

.text{
    margin: 85px 0px 0px 130px;
    width: 55%;
}

h1{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 0px;
}

p{
    line-height: 1.5;
    color: hsl(0, 36%, 70%);
    margin-top: 23px;
}

span{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

#image-desktop{
    background: url('images/hero-desktop.jpg') no-repeat;
    width: 85%;
    height: 100%;
    background-size: 106%;
}

.d-input{
    margin-top: 45px;
    margin-left: 130px;
}

input{
    border: 1px solid hsl(0, 36%, 70%);
    background: transparent;
    border-radius: 30px;
    height: 50px;
    padding-left: 25px;
    width: 64%;
}

input::placeholder{
    color: hsl(0, 36%, 70%);
}

button{
    border: none;
    border-radius: 30px;
    width: 88px;
    height: 52px;
    margin-left: -60px;
    position: absolute;
    background: linear-gradient(135deg, #f8bfbf, #ec8c8c);
    cursor: pointer;
}

span{
    margin-left: 10px;
}


/* Medias Queries
---------------------- */
@media (max-width: 575.95px){

    body{
        background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }

    #container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .logo{
        position: fixed;
        margin-top: 25px;
        margin-left: 40px;
        top: 0;
        left: 0;
    }

    #content{
        text-align: center;
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text{
        width: 89%;
        margin-left: 0px;
        margin-top: 65px;
    }

    h1{
        font-size: 40px;
        letter-spacing: 10px;
    }

    .d-input{
        width: 110%;
        margin-left: 0px; 
    }

    button{
        width: 70px;
    }

    #image-desktop{
        background: url('images/hero-mobile.jpg') no-repeat;
        height: 410px;
        background-size: 100%;
        width: 100%;
        margin-top: 80px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){

    #container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }

    .logo{
        position: fixed;
        margin-top: 25px;
        margin-left: 40px;
        top: 0;
        left: 0;
    }

    #content{
        text-align: center;
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text{
        width: 89%;
        margin-left: 0px;
        margin-top: 70px;
    }

    h1{
        font-size: 40px;
        letter-spacing: 10px;
        margin-bottom: 40px;
    }

    .d-input{
        width: 110%;
        margin-left: 0px; 
        margin-top: 50px;
    }

    button{
        width: 70px;
    }

    #image-desktop{
        background: url('images/hero-mobile.jpg') no-repeat;
        background-size: 100%;
        height: 730px;
        width: 100%;
        margin-top: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    
    #container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .logo{
        position: fixed;
        margin-top: 25px;
        margin-left: 40px;
        top: 0;
        left: 0;
    }

    #content{
        text-align: center;
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text{
        width: 89%;
        margin-left: 0px;
        margin-top: 75px;
    }

    h1{
        font-size: 40px;
        letter-spacing: 10px;
        margin-bottom: 40px;
    }

    .d-input{
        width: 110%;
        margin-left: 0px; 
        margin-top: 60px;
    }

    button{
        width: 70px;
    }

    #image-desktop{
        background: url('images/hero-mobile.jpg') no-repeat;
        background-size: 100%;
        height: 730px;
        width: 100%;
        margin-top: 80px;
    }
}

@media (min-width: 1440px){

    .logo{
        margin-top: 90px;
    }

    #content{
        margin-left: 25px;
    }

    h1{
        font-size: 70px;
        margin-top: 130px;
    }

    p{
        font-size: 16px;
        margin-top: 35px;
    }

    .d-input{
        margin-top: 50px;
    }

    input{
        height: 60px;
    }

    button{
        height: 60px;
        width: 110px;
    }
}