/* Fonte */

@font-face {
    font-family: 'Kumbh Sans';
    src: url('font/KumbhSans-VariableFont_wght.ttf');
}


/* Formatações gerais */

html, body{
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'Kumbh Sans';
    font-size: 18px;
    margin: 0;
    background-image: url(./images//bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-repeat: no-repeat;  
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: 10px;
    height: 360px;
    width: 340px;
    background: white;
    position: relative;
}

h4{
    font-weight: 700;
}

.flw h4{
    font-weight: 700;
    margin: 23px 5px 0px 50px;
}

.imagem{
    background: url('images/bg-pattern-card.svg');
    height: 130px;
    border-radius: 10px 10px 0 0;
}

.pessoa img{
    border-radius: 50px;
    border: 5px solid white;
    position: absolute;
    top: 78px;
    left: 120px;
}

.info{
    text-align: center;
    height: 100px;
    padding-top: 45px;
}

.info #old{
    font-size: 18px;
}

.dados{
    border-top: 1px solid hsl(231, 11%, 74%);
    height: 80px;
}

.flw{
    display: inline-block;
    letter-spacing: 1px;
}

span{
    color: hsl(227, 10%, 46%);
    font-size: 12px;
    font-weight: 400;
}


/* Footer */

.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(225, 43%, 33%);
}

a {
    text-decoration: none;
}